/* qWikiOffice */
.ux-quickstart-menubutton { background-image:url(images/access/taskbar/quickstart-menubutton-icon.gif) !important; }
.ux-taskbuttons-scroller-left { background-image:url(images/access/taskbar/scroll-left.gif); }
.ux-taskbuttons-scroller-right { background-image:url(images/access/taskbar/scroll-right.gif); }
.ux-startmenu { background:transparent none; border-color:transparent; border-width:0; }
.ux-startmenu-tl .ux-startmenu-header { color:#fff; }
.ux-startmenu-mc { background-color:#232d38; border-color:#18181a; }
.ux-startmenu-tc { background-image: url(images/access/window/top-bottom.png); }
.ux-startmenu-tl { background-image: url(images/access/window/left-corners.png); }
.ux-startmenu-tr { background-image: url(images/access/window/right-corners.png); }
.ux-startmenu-bc { background-image: url(images/access/window/top-bottom.png); }
.ux-startmenu-bl { background-image: url(images/access/window/left-corners.png); }
.ux-startmenu-br { background-image: url(images/access/window/right-corners.png); }
.ux-startmenu-ml { background-image: url(images/access/window/left-right.png); }
.ux-startmenu-mr { background-image: url(images/access/window/left-right.png); }
.ux-startmenu .ux-menu-app { border-right:1px solid #18181a; }